// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$bacchus-primary: #e5044b;
$bacchus-dark: #67103C;
$bacchus-background: #FFFFFF;
$bacchus-white:#FAECDD;
$bacchus-yellow: #E6AD1C;
$bacchus-pink: #EA4B7D;
$bacchus-orange:#FFA552;
$bacchus-yellowish:#DCCCA3;
$bacchus-purple:#4A2545;
$bacchus-blue: #1CB9E6;
$bacchus-petrol:#0B7A99;
$bacchus-pinkish:#FFB7C3;
$bacchus-greenish:#C4D6B0;
$bacchus-gradient: linear-gradient(180deg, rgba(229,4,75,1) 50%, rgba(229,4,75,0.6) 100%);
