.bottom-bar {
  background-color: $bacchus-primary;
  width: 100vw;
  height: 12vh;
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
}

.picture-caption {
  font-size: 9px;
  font-weight: 400;
  color: $bacchus-background;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.icon-link-navbar {
  color: $bacchus-background;
  margin: auto;
  text-align: center;
}
